<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.study.mapper.OracleMapper">
    <insert id="boardRegister">
        insert into TABLE_BOARD (bno,title,content,writer)
        values(seq_board.nextval,#{title},#{content},#{writer})
    </insert>

    <delete id="boardDelete">
        delete from TABLE_BOARD where bno=#{bno}
    </delete>

    <update id="boardUpdate">
        update  TABLE_BOARD set title=#{title}, content=#{content}, updatedate=sysdate where bno=#{bno}
    </update>

    <select id="boardList" resultType="board.study.boardDTO.BoardDTO">
        select bno,title,content,writer,regdate,updatedate from TABLE_BOARD order by bno desc
    </select>

    <select id="boardViewDetail" resultType="board.study.boardDTO.BoardDTO">
        select bno,title,content,writer,regdate,updatedate from TABLE_BOARD where bno=#{bno} order by bno desc
    </select>

    <select id="boardSearchList" resultType="board.study.boardDTO.BoardDTO">
        select * from TABLE_BOARD
        <where>
            <if test='type.equals("all")'>
                title like '%' ||#{searchWord}|| '%' or writer like '%' ||#{searchWord}|| '%' or content like '%' ||#{searchWord}|| '%'
            </if>

            <if test='type.equals("title")'>
                title like '%' ||#{searchWord}|| '%'
            </if>

            <if test='type.equals("writer")'>
                writer like '%' ||#{searchWord}|| '%'
            </if>

            <if test='type.equals("content")'>
                title like '%' ||#{searchWord}|| '%'
            </if>
        </where>
    </select>

</mapper>